.root {
    -fx-font-family: "Arial";
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.signin-button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 10px 20px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-transition-duration: 0.4s;
    -fx-cursor: pointer;
}

.signin-button:hover {
    -fx-background-color: white;
    -fx-color: black;
}
.sidebar{
    -fx-background-color: #d2d2d2;
}
/* styles.css */

/* Normal button style */
.button-normal {
    -fx-font-weight: normal;
    -fx-text-fill: rgb(128, 128, 128);
    -fx-background-color: transparent;
    /* Other normal styles */
}

/* Hover style for buttons */
.button-normal:hover {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    /* Other hover styles */
}


.button-active {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* Highlight when hovering */
.button-normal:hover {
    -fx-background-color: lightgray;
}

/* Highlight when pressed */
.button-normal:pressed {
    -fx-background-color: transparent; /* Color when pressed */
    -fx-text-fill: white; /* Text color when pressed */
    /* Other styles for pressed state */
}



